snippet testjest "Template for test in Jest"
	import Methods from '../Methods'

	describe('method', () => {
		it('should return N/A when provided no data', () => {
			expect('Fail').toBe('N/A')
		})
	})
